*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: url(https://wallpapercave.com/wp/SIkIzca.jpg);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #ffe81f;
  font-size: 32px;
  letter-spacing: 4px;
  text-shadow:0px 0px 4px #ffe81f;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .list{
  width: 100%;
  max-width: 768px;
  background-color: transparent;
  border: 1px solid #ffe81f;
  margin-top: 25px;
}

main .list .item{
  color: white;
  padding: 15px;
  transition: 0.2s;
  border-bottom: 1px solid #ffe81f;
}

main .list .item:last-of-type{
  border-bottom: none;
}

main .list .item:hover{
  background: #332d00;
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination button{
  width: 50px;
  height: 50px;
  appearance: none;
  color: #ffff;
  border: 1px solid #ffe81f;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
  font-size: 18px;
}

.pagination button:hover{
  background: #332d00;
}

.pagination button:active{
  background: #ffe81f;
}